<template>
   <main class="section">
    <h3>Welcome to ChatRoom.vue {{ chatId }}</h3>

    <User #user="{ user }">
      <div v-if="user">
        <ul>
          <li v-for="message of messages" :key="message.id">
            {{ message.text }}
          </li>
        </ul>

        <input v-model="newMessageText" class="input" />

        <button
          :disabled="!newMessageText || isLoading"
          class="button is-success"
          type="text"
          @click="addMessage(user.uid)"
        >Send</button>

      </div>

      <Login v-else />

    </User>

  </main>
</template>

<script>
import { db } from '../firebase';
import User from './User.vue';
import Login from './Login.vue';

export default {
  components: {
    User,
    Login
  },
  data() {
    return {
      newMessageText: '',
      messages:[],
      isLoading: false,
    }
  },
  firestore() {
    console.log(this.messagesCollection)
    return {
      messages: this.messagesCollection.orderBy('createdAt').limitToLast(10)
    };
  },
  computed: {
    chatId() {
      return this.$route.params.id;
    },
    messagesCollection() {
      return db.doc(`chats/${this.chatId}`).collection('messages');
    },
  },
  methods: {
    async addMessage(uid) {
      this.isLoading = true

      const { id: messageId } = this.messagesCollection.doc();

      await this.messagesCollection.doc(messageId).set({
        text: this.newMessageText,
        sender: uid,
        createdAt: Date.now(),

    });

      this.isLoading = false
    }
  }
};
</script>