<template>
  <div>
    <ul>
      <li v-for="chat of chats" :key="chat.uid">
        <router-link :to="{ name: 'chat', params: { id: chat.id } }">{{ chat.id }}</router-link>
      </li>
    </ul>
    <button class="button" @click="createRoom()">Create new chat room</button>
  </div>
</template>

<script>
import {db} from '../firebase'

export default {
  data() {
    return {
      chats: []
    }
  },
  firestore() {
    return { 
        chats: db.collection('chats').where('owner', '==', this.uid) 
    }
  },
  methods: {
    async createRoom() {
        const newChat = await db.collection('chats').add({
          created_at: Date.now(),
          owner: this.uid,
          members: [this.uid]
        })
        console.log(newChat);
    }
  },
  props: ['uid']
}
</script>