<template>
  <aside class="section">
    <h3>Sign in Anonymously</h3>
    <button class="button" @click="auth.signInAnonymously()">Sign In</button>

    <div v-if="isUserNew">
      <h3>Sign Up for a New Account</h3>
      <a href="#" @click="isUserNew = false">Returning user?</a>
    </div>

    <div v-else>
      <h3>Sign In with Email</h3>
      <a href="#" @click="isUserNew = true">New user?</a>
    </div>

    <label for="email">Email</label>
    <br />
    <input v-model="email" placeholder="email" type="email" class="input" />

    <label for="password">Password</label>
    <br />
    <input v-model="password" type="password" class="input" />

    <br />

    <button class="button" :class="{'is-loading': isNewUser}" @click="signinOrCreateUser()">{{ isUserNew ? 'Sign Up': 'Login'}}</button>

    <p class="has-text-danger" v-if="errorMessage">{{ errorMessage }}</p>

  </aside>
</template>

<script>
import {auth} from '../firebase'

export default {
  data() {
    return {
      email: '',
      password: '',
      errorMessage: '',
      isLoading: false,
      isUserNew: false,
      auth
    }
  },
  methods: {
    async signinOrCreateUser() {
      this.isLoading = true
      this.errorMessage = '';
      try {
        if (this.isUserNew) {
          await auth.createUserWithEmailAndPassword(this.email, this.password)
        } else {
          await auth.signInWithEmailAndPassword(this.email, this.password)
        }
      } catch (error) {
        this.errorMessage = error.message
      }
      this.isLoading = false
    }
  }
}
</script>